In [16]:
import pandas as pd

df = pd.read_csv('sleeping_patterns.csv')
df.head(10)
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [17]:
# lst_col = []
#
# def get_name(name):
#     return '_'.join(name.lower().split())
#
# for el in df.columns:
#     name = get_name(el)
#     lst_col.append(name)
#
#
# df.columns = lst_col
# df

In [29]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df

,person_id,gender,age,occupation,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,bmi_category,blood_pressure,heart_rate,daily_steps,sleep_disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [36]:
df['gender'].value_counts()

gender
Male      189
Female    185
Name: count, dtype: int64

In [43]:
df.groupby('gender')['gender'].count()

gender
Female    185
Male      189
Name: gender, dtype: int64

In [50]:
df[(df['occupation'] == 'Software Engineer') & (df['gender'] == 'Male')]

,person_id,gender,age,occupation,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,bmi_category,blood_pressure,heart_rate,daily_steps,sleep_disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
84,85,Male,35,Software Engineer,7.5,8,60,5,Normal Weight,120/80,70,8000,NaN
92,93,Male,35,Software Engineer,7.5,8,60,5,Normal Weight,120/80,70,8000,NaN

In [48]:
df.groupby('occupation')['occupation'].count()

occupation
Accountant              37
Doctor                  71
Engineer                63
Lawyer                  47
Manager                  1
Nurse                   73
Sales Representative     2
Salesperson             32
Scientist                4
Software Engineer        4
Teacher                 40
Name: occupation, dtype: int64

In [68]:
#топ профессии 3 от ожирения
res = df.groupby(by=['occupation', 'bmi_category'], sort=False, as_index=False).agg(count_cat=('person_id', 'count'))
res = res[res['bmi_category'] == 'Obese']
res.sort_values('count_cat', ascending=False)

              occupation bmi_category  count_cat
22                Doctor        Obese          4
2   Sales Representative        Obese          2
12                Lawyer        Obese          2
4                Teacher        Obese          1
3      Software Engineer        Obese          1